
body{
    background: #1D201F;
    color: #ffffff;
    font-family: 'Philosopher', sans-serif;
    
}
header {
    font-family: 'Great Vibes', cursive;
    background-color: #1D201F;
    padding: 20px 0;
    
}


.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position: absolute;
    top:110px;
    right: 0;

}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}
nav a{
    color: #ffffff;
    font-size: 35px;
}
nav :visited{
    color: #ffffff
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase
    color #000000;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    color: crimson;
    text-decoration: underline;
}

.banner{
    width: 100%;
    
}

.principal{

    background: #414040;
    padding: 2em 0 2em;
    font-size: 20px
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 2em;
    font-weight:bolder;
    
}
.utensilios{
    width: 260px;
    float: left;
    margin: 0 20px 0px ; 
}

.principal p{
    text-align: top;
    margin: 2em 0 1em;
    text-decoration-color: #FDFBF6;
    font-family: 'Philosopher', sans-serif;
    
}



.principal strong{
    color: rgb(255, 230, 0);
    font-weight:bolder;
}

.principal strong{
    font-style: italic;
}

#mision{
    font-size : 20px;
    text-align: center;
    padding: 10px;
}

.mapa,h3{
    text-align: center;
    margin: 2em 0 2em;
    
}
.mapa, p{
    
    margin: 3em 0 3em;

}

.diferenciales{
    text-align: center;
    background: #1D201F;
    padding: 40px;
    
}
h4{
    font-size: 23px;
    margin: 20px 0 2em;
}
.items {
    font-style: italic;
    padding: 50px;

}

ul{
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 15% ;
}
.imagenDiferencial{
    border-radius: 80px;
    width: 40%;
    padding: 40px;
    
}